### 빌보드 차트의 중복 데이터 처리하기

In [1]:
import pandas as pd

In [2]:
billboard = pd.read_csv('./data/billboard.csv')
billboard.head()

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
billboard_long = pd.melt(billboard, id_vars=['year', 'artist', 'track', 'time', 'date.entered'], var_name='week', value_name='rating')
billboard_long.head()

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [4]:
# 노래 제목(track)이 Loser인 데이터가 중복 되어있다는 것을 확인 할 수 있다.
# 가수(artist)는 고유한 값이기 때문에 따로 관리하는 것이 데이터의 일관성을 유지하는데 더 도움이 된다.
billboard_long[billboard_long.track == 'Loser']

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
...     ...           ...    ...   ...          ...   ...     ...
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [5]:
# 중복 데이터를 가지고 있는 열은 year, artist, track, time, date이다. 이 열을 따로 모아 새로운 데이터프레임에 저장한다.
billboard_songs = billboard_long[['year', 'artist', 'track', 'time', 'date.entered']]
billboard_songs

       year            artist                    track  time date.entered
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

[24092 rows x 5 columns]

In [6]:
billboard_songs = billboard_songs.drop_duplicates()
billboard_songs

     year            artist                    track  time date.entered
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3    2000      3 Doors Down                    Loser  4:24   2000-10-21
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
..    ...               ...                      ...   ...          ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
316  2000   matchbox twenty                     Bent  4:12   2000-04-29

[317 rows x 5 columns]

In [7]:
billboard_songs['id'] = range(len(billboard_songs))
billboard_songs

C:\Users\rkdtk\AppData\Local\Temp\ipykernel_10292\2159823642.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  billboard_songs['id'] = range(len(billboard_songs))

     year            artist                    track  time date.entered   id
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26    0
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02    1
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08    2
3    2000      3 Doors Down                    Loser  4:24   2000-10-21    3
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15    4
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  312
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  313
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  314
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  315
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  316

[317 rows x 6 columns]

In [8]:
# merge 메서드를 사용해 노래 정보와 주간 순위 데이터를 합친다.
billboard_rating = billboard_long.merge(billboard_songs, on=['year', 'artist', 'track', 'time', 'date.entered'])

In [9]:
billboard_rating

,year,artist,track,time,date.entered,week,rating,id
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0,0
1,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk2,82.0,0
2,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk3,72.0,0
3,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk4,77.0,0
4,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk5,87.0,0
...,...,...,...,...,...,...,...,...
24087,2000,matchbox twenty,Bent,4:12,2000-04-29,wk72,NaN,316
24088,2000,matchbox twenty,Bent,4:12,2000-04-29,wk73,NaN,316
24089,2000,matchbox twenty,Bent,4:12,2000-04-29,wk74,NaN,316
24090,2000,matchbox twenty,Bent,4:12,2000-04-29,wk75,NaN,316
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN,316